body {
    background-color: rgb(211, 207, 201)
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    color: rgb(87, 86, 86)
}


h3 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    color: goldenrod
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 38, 38)
}

th {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 32, 81)
}

td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(64, 21, 103)
}

.firstcharacter {
    color: rgb(98, 9, 38);
    float: left;
    font-family:'Times New Roman', Times, serif; 
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }